:root{
    --button-height: 3rem;
    --color-text: rgba(0,0,0,.25);
    --color-text-shadow: rgba(255,255,255,.15);
    --color-page-bg:#B9B5AA;
    --color-bg:#899095;
    --color-bg-light:#969DA3;
    --color-bg-dark: #7D878F;
    --color-overlay-light: rgba(255,255,255,.2);
    --color-overlay-medium: rgba(0,0,0,.1);
    --color-overlay-dark: rgba(0,0,0,.2);
    --color-tab-focus: rgba(255,255,255,.15);
}

body {
    background-color: #282828;
}

.app {
    overflow: auto;
    height: 100%;
    display: grid;
    grid-template-columns: 0.2fr 0.6fr 0.2fr;
}

.contentHeader {
    height: 25px;
    background-image: linear-gradient(grey, white);
    border-radius: 25px 25px 0 0;
}

.contentFooter {
    height: 25px;
    background-image: linear-gradient(white, grey);
    border-radius: 0 0 25px 25px;
}

.contentObject {
    background-color: white;
}

.emulatorDisplay {
    margin: auto;
}

canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.emulatorControls {
    padding-left: 10%;
    padding-right: 10%;
}

.emulatorControlsBorder {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.debugger {
    display: grid;
    grid-template-columns: 0.2fr 0.8fr;
}

.cpuStatus {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
}

.emulatorHeader {
    display: grid;
    grid-template-columns: 0.2fr 0.5fr 0.3fr;
}

/* Retro button example from: https://codepen.io/dariocorsi/pen/xpLgrL */
.buttonGroup {
    display: grid;
    grid-template-columns: repeat(5,0.2fr);
    background: #899095;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: -1px -1px 1px #969DA3,
    inset -1px -1px 1px #7D878F
}

.retro-button {
    position: relative;
    appearance: none;
    box-sizing:border-box;
    font-size: calc(var(--button-height)/3);
    font-family: 'Open Sans', sans-serif;
    background: var(--color-bg);
    min-width: 200px;
    height: var(--button-height);
    border-radius:16px;
    padding: 15px;
    border:0;
    font-weight: 800;
    text-transform: uppercase;
    color: var(--color-text);
    text-shadow: 1px 1px var(--color-text-shadow);
    cursor:pointer;
    margin: 6px 6px;
    letter-spacing: .1em;
    transition: all 200ms ease;
    box-shadow:
    -1px  -1px 1px var(--color-bg),
    0 0 0 4px var(--color-overlay-medium),
    1px  1px 1px var(--color-bg-dark),
    inset 0 0 0 var(--color-overlay-dark),
    inset .5rem .5rem .25rem var(--color-bg-light)
}

.retro-button:hover {
    box-shadow:
    -1px -1px 1px var(--color-bg-dark)
    0 0 0 4px var(--color-overlay-dark)
    1px  1px 1px var(--color-bg-dark)
    inset 0 0 0 var(--color-overlay-dark)
    inset .5rem .5rem .25rem var(--color-bg-light);
}

.retro-button:focus {
    outline: none;
}

.retro-button:active {
    box-shadow:
    inset 1px 1px 1px var(--color-bg),
    0 0 0 4px var(--color-overlay-dark),
    inset -1px -1px 1px var(--color-bg-light),
    inset .5rem .5rem .75rem var(--color-bg-dark),
    inset .5rem .5rem .5rem var(--color-bg-light)
}

.button-green {
    --color-bg: #00A07D;
    --color-bg-light:#00AF8A;
    --color-bg-dark: #008F70;
}

.button-red{
    --color-bg:#E44E55;
    --color-bg-light:#E47479;
    --color-bg-dark:#D13239;
}